.user-container{
    color: black;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    background-color: rgb(245, 199, 142);
    font-size: 1.56rem;
}
#user-img{
    height: 100px;
    
    border-radius: 50%;
}